# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.DS_Store
# Ignore everything in this directory
*
# Except this file
!.gitignore
dataset/yelp/edge.txt
